<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>

<h2>Đăng ký</h2>

<form th:action="@{/auth/register}" th:object="${user}" method="post">

    Username:
    <input type="text" th:field="*{username}"/>
    <p style="color:red" th:errors="*{username}"></p>

    <br/>

    Password:
    <input type="password" th:field="*{password}"/>
    <p style="color:red" th:errors="*{password}"></p>

    <br/>

    Confirm Password:
    <input type="password" th:field="*{confirmPassword}"/>
    <p style="color:red" th:errors="*{confirmPassword}"></p>

    <br/><br/>

    <button type="submit">Register</button>
</form>

<p th:text="${msg}"></p>

</body>
</html>
